.DS_Store
Thumbs.db

# Temporary scratch space
/tmp/
/.tmp/
/tmp-*/
/tmp_*/
/tmp.*/
/.tmp-*/
/.tmp_*/
/.tmp.*/
tmp-*
tmp_*
tmp.*
.tmp-*
.tmp_*
.tmp.*
*.bak

*.pygtex
*.toc
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.out
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.bcf
*.pdf
/_minted-main/
